.menu-horizontal{
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: #00000031 1px 0px 10px;
}

.menu-horizontal ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-horizontal li{
    float: left;
}

.menu-horizontal li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-horizontal li a:hover{
    background-color: #111;
}

.menu-horizontal .logo{
    width: 17%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.menu-horizontal .comprimento{
    display: flex;
    align-items: start;
    padding: 30px; 
    margin-left: -340px;
}

.search{
    padding: 20px 0;
    margin-left: -100px;
}

#search{
    width: 25pc;
}

.menu-horizontal .search-bar{
    display: flex; 
    float: left;
    width: 100%;
}

.search-input{
    background-color: white; 
    width: 30px; 
    height: 30px; 
    padding-bottom: 5px;
    border: 1px solid #00000063; 
    border-radius: 5px 0 0 5px;
    border-right: 0; 
    
}

.menu-horizontal input{
    padding: 5px;
    border-radius: 0 5px 5px 0; 
    border: 1px solid #00000063; 
    width: 100%; 
    border-left: 0; 
    outline: none;
}

.menu-horizontal .user{
    display: flex;
    align-items: start;
    float: left; 
    padding-top: 35px;
    padding-right: 50px;
    position: relative;
    bottom: 15px;
    width: 100%;
}