/* Body agora não usa flexbox */
body {
    background-color: #f1f1f1;
    font-family: Arial;
    margin: 0; /* Remove qualquer margem padrão */
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    gap: 20px; /* Espaço entre as imagens */
    margin-left: 250px; /* Espaço à esquerda para não sobrepor o menu vertical */
    margin-top: 80px; /* Espaço à esquerda para não sobrepor o menu vertical */
    max-width: 1200px; /* Largura máxima do contêiner */
    padding-top: 20px; /* Espaço superior */
}

/* Ajustes no estilo das galerias */
.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    width: 300px; /* Ajuste o tamanho da imagem para algo mais adequado */
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 10px;
    text-align: center;
    min-height: 5px
}
