.informacoes{
    display: flex; 
    float: left;
    width: 100%;
}

.sobre-mim{
    width: 20%;
    margin-top: 10px;
    margin-left: 18%;
    margin-right: 5%;
}

.img-perfil{
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.editar-perfil{
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.seguidores{
    display: flex;
    flex-direction: row;
    margin: 3px 5px;
    gap: 5px;
}

.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 38px;
    margin-bottom: 20px;
}

.redes a img {
    width: 40px;
    height: auto;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 80px;
    flex: 1;
}

.dados{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    align-content: center;
    width: 200px;
    height: 30%;
    padding: 35px 100px 35px 40px;
}

.valor{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1024px) {
    .informacoes {
        display: flex;
        flex-direction: column; /* empilha os elementos */
    }
    .sobre-mim{
        display: flex;
        float: left;    
        align-items: center;
        margin: auto; 
        width: 100%;
    }
    .nome-apelido{
        padding-left: 5%;
        width: 34%;
    }
    .editar-redes{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 22%;
        padding: 61px 5px;
    }
    .conteudo {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .dados{
        width: 100%;
    }
    .editar-perfil{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .informacoes {
        display: flex;
        flex-direction: column; /* empilha os elementos */
    }
    .sobre-mim{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .nome-apelido{
        padding-left: 0;
        width: 100%;
    }
    .editar-redes{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
        padding: 0;
    }
    .redes{
        width: 100%;
    }
    .conteudo {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .dados{
        width: 100%;
    }
    .editar-perfil{
        width: 100%;
    }
}

@media (max-width: 412px) {
    .informacoes {
        flex-direction: column; /* empilha os elementos */
    }
    .sobre-mim,
    .conteudo {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .dados{
        width: 100%;
    }
    .editar-perfil{
        width: 100%;
    }
}
